body{
	background-image:url('../img/straws.png');
	font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	line-height:19px;
}

#topbar{
	background-color:#bfe0de;
	height:22px;
	text-align:right;
	font-size:13px;
	padding:5px;
}

#topbar a{
	color:#021e1e;
	margin-top:3px;
}

.user{
	float:right;
	margin:auto;
}
	
.search{
	float:left;		
}
	
.searchbar{
	width:200px;
}
	
#sbb{
	width:55px;
	font-size:12px;
}

.textcolor{
	color:#59918d;
}
	
.textcolor2{
	color:#bfe0de;
}

#header{
	padding-top:15px;
	font-size:15px;
	background-image:url('../img/strawsdark.png');
}

#header img{
	max-width:300px;
	margin:auto;
	margin-left:30px;
	padding-bottom:10px;
}
	
#header h2{
	color:#59918d;
	font-weight:800;
	padding-bottom:10px;
	border-bottom:2px solid #fff;
	font-size:22px;
	font-family: 'Quicksand', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#nav{
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	margin:auto;
	padding:5px;
	background-color:#fff;
}
#nav li{
	display:inline;
}

#nav a{
	display:inline-block;
	padding:7px;
	height:20px;
	color:#bfe0de;
	background-color:#59918d;
	background: -webkit-gradient(linear, left top, left bottom, from(#59918d), to(#3a5f5c));
	background: -moz-linear-gradient(top,  #59918d,  #3a5f5c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59918d', endColorstr='#3a5f5c');
	border-radius:5px;
	text-decoration:none;
  }

#nav a:hover{
	background-color:#bfe0de;
	background: -webkit-gradient(linear, left top, left bottom, from(#bfe0de), to(#e7f8f7));
	background: -moz-linear-gradient(top,  #bfe0de,  #e7f8f7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfe0de', endColorstr='#e7f8f7');
	color:#59918d;
}

#featured{
	margin-top:10px;
	padding:10px;
	border:10px solid #59918d;
}

#featured h3{
	color:#59918d;
	font-size:26px;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:600;
	margin-bottom:10px;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
}

#featured h4{
	color:#59918d;
	font-size:24px;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:600;
	margin-bottom:10px;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
}

#featured p{
	padding-bottom:10px;
}

.fp a{
	display:inline-block;
	padding:7px;
	height:20px;
	color:#bfe0de;
	background-color:#bfe0de;
	background: -webkit-gradient(linear, left top, left bottom, from(#bfe0de), to(#e7f8f7));
	background: -moz-linear-gradient(top,  #bfe0de,  #e7f8f7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfe0de', endColorstr='#e7f8f7');
	color:#59918d;
	border-radius:5px;
	text-decoration:none;
	border:1px dashed #59918d;
}

.fp a:hover{
		color:#bfe0de;
	background-color:#59918d;
	background: -webkit-gradient(linear, left top, left bottom, from(#59918d), to(#3a5f5c));
	background: -moz-linear-gradient(top,  #59918d,  #3a5f5c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59918d', endColorstr='#3a5f5c');
	border-radius:5px;
}

.ftprice{
	color:#59918d;
	font-weight:600;
}

#featured a, #new a{
	color:#59918d;
}

#featured a:hover, #new a:hover{
	color:#bfe0de;
}

#featured img{
	border: 2px solid #59918d;
	padding:4px;
	background-color:#fff;
	margin-bottom:5px;
}

#featured img:hover{
	border:2px solid #000;
}

.special p{
	margin-top:10px;
}
	
#new{
	margin-top:10px;
	background-color:#fff;
	padding:10px;
	border:1px solid #ccc;
	border-width:1px 0;
}

#new h3{
	color:#59918d;
	font-size:24px;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:600;
	margin-bottom:10px;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
}

#new img{
	padding:8px;
	border:2px solid #59918d;
	max-width:135px;
	margin-left:3px;
	margin-bottom:10px;
}

#new img:hover{
	border:2px solid #000;
}

#new p{
	float:right;
}

#decor{
	margin:10px;
	font-size:15px;
}

#decor img{
	margin-top:10px;
	padding:5px;
	background-color:#fff;
	border: 2px solid #59918d;
	max-width:230px;
}

#decor  img:hover{
	border:2px solid #000;
}

.decorbox{
	background-color:#DDDDDD;
	border:1px dashed #ccc;
	padding:10px;
	margin-top:10px;
	height:auto;
}

.decorbox h3{
	color:#59918d;
	font-size:20px;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:600;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
}

#contactbar{
	background-color:#fff;
	border:1px solid #ccc;
	border-width:1px 0;
	height:auto;
	padding-top:10px;
	font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#contactbar h2{
	font-family:'Quicksand', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:800;
	color:#59918d;
	font-size:22px;
	float:right;
	padding-right:10px;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
}
	
#banner{
	margin-top:-10px;
	max-width:340px;
	float:left;
}

#banner img{
	margin-left:-20px;
}

#social img{
	max-width:40px;
	float:right;
}

#infobar{
	font-size:12px;
}

#infobar h4{
	font-size:14px;
	padding-bottom:3px;
	color:#59918d;
	font-weight:600;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	border-bottom:2px solid #fff;
}

#infobar a{
	color:#021e1e;
}

#infobar a:hover{
	color:#59918d;
}

.infobox{
	background-color:#ececec;
	height:auto;
	margin:10px;
	padding:10px;
	border:1px dashed #cbcbcb;
}

.infobox p{
	padding-top:3px;
	padding-left:20px;
}

#footer{
	background-color:#354444;
	height:auto;
	color:#fff;
	font-size:13px;
	text-align:center;
	padding:6px;
}

#cattop{
	margin-top:10px;
	font-size:14px;
}

#cattop h2{
	color:#59918d;
	font-size:18px;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:600;
	margin-bottom:10px;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
}

#cattop img{
	border:2px solid #59918d;
	padding:5px;
	background-color:#fff;
}

#cattop img:hover{
	border:2px solid #000;
}

.catt{
	padding:5px;
	background-color:#ddd;
	height:155px;
	border:1px dashed #ccc;
}

#shop{
	margin-top:10px;
	margin-bottom:10px;
}

#subnav{
	background-color:#DDDDDD;
	padding:10px;
	width:120px;
	border:1px dashed #cbcbcb;
}

#subnav a{
	color:#59918d;
	font-size:13px;
	text-decoration:none;
}

#subnav a:hover{
	color:#fff;
	text-decoration:underline;
}

#suggestions{
	margin-top:10px;
}

#suggestions img{
	max-width:60px;
	max-height:60px;
	padding:2px;
	margin-right:4px;
	margin-bottom:4px;
	border:1px solid #59918d;
	background-color:#fff;
}

#suggestions img:hover{
	border:1px solid #000;
}

#suggestions h3{
	color:#59918d;
	font-size:17px;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:600;
	margin-bottom:5px;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
}

#mainshop{
	border:1px solid #ccc;
	border-width:1px 1px;
	background-color:#ddd;
	padding:10px;
	overflow:hidden;
	height:auto;
}

.productdet{
	float:left;
	width:150px;
	height:300px;
	text-align:center;
	padding:10px;
	margin-left:10px;
}
.button{
	margin:10px;
	display:inline-block;
	font-size:10px;
	padding:7px;
	height:13px;
	color:#bfe0de;
	background-color:#59918d;
	background: -webkit-gradient(linear, left top, left bottom, from(#bfe0de), to(#e7f8f7));
	background: -moz-linear-gradient(top,  #bfe0de,  #e7f8f7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfe0de', endColorstr='#e7f8f7');
	color:#59918d;
	border-radius:5px;
	text-decoration:none;
	border:1px dashed #59918d;
	}
	
.button:hover{
	color:#bfe0de;
	text-decoration:none;
	background-color:#59918d;
	background: -webkit-gradient(linear, left top, left bottom, from(#59918d), to(#3a5f5c));
	background: -moz-linear-gradient(top,  #59918d,  #3a5f5c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59918d', endColorstr='#3a5f5c');
	border-radius:5px;
}

.productdet img{
	max-height:130px;
	padding:5px;
	border:2px solid #59918d;
	background-color:#fff;
}

.productdet img:hover{
	border:2px solid #000;
}

.ptext{
	height:105px;
}

.productn{
	height:350px;
}

.productn h3{
	font-size:16px;
	font-weight:800;
	color:#59918d;
}

.productn a{
	color:#000;
	text-decoration:none;
}

.productn a:hover{
	text-decoration:underline;
	color:#000;
}

.rating img{
	border:0px;
	max-width:15px;
	background-color:transparent; 
	float:left;
}

.rating img:hover{
	border:0px;
	max-width:15px;
	background-color:transparent; 
}

#comingsoon{
	text-align:Center;
	padding-top:10px;
	padding-bottom:10px;
}

#comingsoon img{
	max-width:300px;
	margin-left:-65px;
}

#admin{
	margin:10px;
}

#options{
	background-color:#ddd;
	height:300px;
	padding:10px;
	border:1px dashed #ccc;
}

#admin h2{
	font-size:16px;
	font-weight:800;
	color:#59918d;
	padding-bottom:10px;
	border-bottom:2px solid #fff;
}



.adminl, .cohq{
	float:left;
	border:1px solid #ddd;
	border-width:1px 1px;
	padding:10px;
	background-color:#ccc;
	margin:10px;
	width:300px;
	height:200px;
	font-size:12px;
}

#options h3{
	font-size:14px;
	font-weight:800;
	color:#59918d;
	padding-bottom:5px;
	border-bottom:2px solid #fff;
	margin-bottom:10px;
}

#admin a{
	color:#59918d;
}

#admin a:hover{
	color:#fff;
}

.cartitems{
	float:left;
	width:450px;
	}

#cartview{
	border:1px solid #ccc;
	border-width:1px 1px;
	background-color:#ddd;
	padding:10px;
	height:100%;
	overflow:hidden;
	
}

.cartitem{
	float:left;
	padding:10px;
	background-color:#000;
	width:130px;
	height:230px;
}

.total{
	background-color:#666;
	margin:20px;
	float:left;
}

.cartitem img{
	max-width:100px;
	padding:5px;
	background-color:#fff;
	border:3px solid #59918d;
	margin-bottom:5px;
}

.cartitem img:hover{
	border:3px solid #000;
}

.total{
	float:right;
	font-weight:bold;
	padding:10px;
	background-color:#fff;
	border:1px dashed #59918d;
}

#cartview h1{
	font-size:20px;
	font-weight:800;
	color:#59918d;
	padding-bottom:10px;
	border-bottom:2px solid #fff;
	margin-bottom:10px;
}

#checkout h2{
	font-size:18px;
	font-weight:800;
	color:#59918d;
	padding-bottom:2px;
	border-bottom:2px solid #fff;
	margin-bottom:4px;
}

#checkout h3{
	font-size:16px;
	font-weight:800;
	color:#59918d;
	padding-bottom:10px;
	padding-left:15px;
}



#checkout{
	background-color:#ccc;
	border:1px dashed #666;
	padding:10px;
	font-size:14px;
	float:right;
}

#checkout strong{
	color:#59918d;
	font-weight:bold;
}

.check{
	padding-left:30px;
	padding-bottom:10px;
}

.cart{
	padding:20px;
	margin-left:10px;
}

.cart:first-child{
	padding-right:100px;
	float:left;
	width:400px;
}

.cart:last-child{
	float:right;
}

.remove{
	font-size:10px;
	margin-top:10px;
}

.remove a{
	color:#666;
}

#client{
	border:1px solid #ccc;
	border-width:1px 1px;
	background-color:#ddd;
	padding:10px;
	height:500px;
}

#user{
	border:1px solid #ccc;
	border-width:1px 1px;
	background-color:#ddd;
	padding:10px;
	height:150px;
}

#bought{
	border:1px solid #ccc;
	border-width:1px 1px;
	background-color:#ddd;
	padding:10px;
	margin-top:10px;
	height:320px;
}

#bought img{
	max-height:90px;
	padding:5px;
	border:1px solid #59918d;
	background-color:#fff;
	margin:5px;
	float:left;
}

#bought img:hover{
	border:1px solid #000;
}

#user h2, #bought h2, #client h2{
	color:#59918d;
	font-size:18px;
	font-weight:600;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
	margin-bottom:10px;
}

.userpro{
	float:left;
}

.userpro:first-child{
	width:60px;
}

.userpro:last-child{
	width:100px;
	font-size:12px;
}

.userpro a{
	color:#000;
}

.userpro img{
	max-width:70px;
	background-color:#fff;
	padding:3px;
	border:2px solid #59918d;
	margin-right:10px;
}

.userpro img:hover{
	border:2px solid #000;
}

#client ul{
	margin-left:30px;	
}

#client ul li:last-child{
	text-align:right;
	font-size:10px;
}

#client a{
	color:#666;
}

#policies{
	border:1px solid #ccc;
	border-width:1px 1px;
	padding:10px;
	background-color:#ddd;
	margin:10px;
	width:auto;
	height:200px;
	font-size:12px;
	overflow:auto;
	height:auto;
}

#policies p{
	line-height:20px;
	margin-left:15px;
	margin-bottom:5px;
}

.policy h3{
	color:#59918d;
	font-size:17px;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:600;
	margin-bottom:10px;
	margin-top:15px;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
}

.policy h4{
	color:#59918d;
	font-size:14px;
	font-family:'Quicksand','Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight:600;
	margin-bottom:10px;
	padding-bottom:5px;
	padding-top:10px;
	margin-left:15px;
}

#policies a{
	color:#59918d;
}

.policy li{
	list-style-type: circle;	
}

/*-------------------------------------------- COMPANY BACKGROUND CSS -------*/
.profile img{
	clear: left;
	float: left;
	max-height: 200px;
	margin-top: 20px;
	margin-left: 25px;
	margin-bottom: 0;
}

.profile p{
	float: left;	
	max-width: 300px;
	margin-top: 10px;
	font-size: 12px;
}

.desc {
	float: left;
	margin-left: 10px;
	margin-top: 75px;	
}

.desc2{
	float: left;
	margin-top: 75px;
	margin-left: 10px;
}

.desc3{
	float: right;
	margin-top: 75px;
	margin-right: 10px;	
}


#team{
	background-color:#ddd;
	height:700px;
	padding:10px;
	border:1px dashed #ccc;
}

.profile3 img{
	clear: right;
	float: right;
	max-height: 200px;
	margin-top: 20px;
	margin-right: 25px;
	margin-bottom: 0;
}

.profile3 p{
	float: right;	
	max-width: 300px;
	margin-top: 10px;
	font-size: 12px;
}


.profile2 img{
	clear: left;
	float: left;
	max-height: 280px;
	margin-left: 320px;
	margin-top: 0;
}

.profile2 p{
	float: left;	
	max-width: 300px;
	margin-top: 10px;
	font-size: 12px;
}

.map{
	clear: left;
	float: left;
	margin-top: 20px;
	margin-left: 45px;
	max-height: 100px;	
}

.hqadd{
	float: left;
	margin-top: 50px;
	margin-left: 175px;	
}

.hqadd p{
	font-size: 14px;
	margin-left: 40px;	
}

.hqnumber{
	float: right;
	font-weight: bold;
	font-size: 32px;
	margin-top: 70px;	
	margin-right: 75px;
}

.cohq p{
	font-size: 18px;
	margin-left: 75px;
	margin-top: 65px;
}

.cohq h4{
	font-size: 32px;
	font-weight: bold;
	margin-top: 75px;
	margin-left: 25px;
}

.cohq{
	margin-left: 25px;	
}

